<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
<link rel="stylesheet" type="text/css" href="/css/index.css"/>
<script>
let users = []

$(document).ready(async ()=>{
    const userInfo = {
        username: 'test',
        text: 'with alert by ajax'
    }
    // liff.init(
    //     data => {
    //         // Now you can call LIFF API
    //         // const userId = data.context.userId;
            
    $('#data').load('/user/getUserById', {id: "5d6cbcbef3c7b4627c46536d"})
        //     console.log(userInfo)
        // },
        // err => {
        //     // LIFF initialization failed
        //     console.log('failed')
        // }
    // );

})
</script>

<html>
<p id="data"></p>
</html>